config.py
/.ipynb_checkpoints/
*.session
.idea/
__pycache__/
venv
/dataset_tinkoff_analytics.csv
/dataset_209_samples.csv
/dataset1.csv
/dataset_divForever.csv
/dataset2_labled.csv
/dataset1_labled.csv
